/* VARIABLES */
*{
    /* COLOR VARIABLES */
    -GLAUCOUS: #6184D8;
    -POWDER-BLUE: #B8DBD9;
    -MIDNIGHT-BLUE: #114B5F;
    -OXFORD-BLUE: #001427;
    -RAISIN-BLACK: #1D1E2C;
    -RAISIN-BLACK-HOVER: #30324A;
    -SMOKY-BLACK: #121113;
    -PURE-WHITE: #FFF;
    -GHOST-WHITE: #F4F4F9;
    -ONYX: #3F3F3F;
    -ENGLISH-VIOLET: #453E51;
    -LIGHT-GRAY: #d3d3d3;
    -LIVER-BROWN: #60463B;
    -PLATINUM: #EAE1DF;
    -ARMY-GREEN: #433E0E;
    -AMBER: #FFBE0B;
    -CHARCOAL: #334E58;
    -SEAGREEN: #0A8754;
    -DARK-RED: #95190C;

    /* highlight colors */
    -ICTERINE: #F0F465;
    -INCHWORM: #B4E33D;
    -PUMPKIN: #FA7921;

    /* SPECIFIC USE*/
    -LABEL: -GHOST-WHITE;
    -HOVER: -RAISIN-BLACK-HOVER;
    -DARK-BACKGROUND: -RAISIN-BLACK;
    -LIGHT-BACKGROUND: -GHOST-WHITE;
    -GREEN-HIGHLIGHT: -INCHWORM;
    -ORANGE-HIGHLIGHT: -PUMPKIN;

    /* FONT */
    -FONT: normal bold 1.2em 'Leelawadee UI';
}

/* UTILITY CLASSES */

.dropshadow {
    -fx-effect: dropshadow(gaussian, #000, 10, 0.1, -5, 5);
}

.dropshadow-right {
    -fx-effect: dropshadow(gaussian, #000, 10, 0.1, 2, -1);
}

/*GENERAL CLASSES*/

.vbox-background{
    -fx-background-color: -DARK-BACKGROUND;
}

#andrade-label{
    -fx-text-fill: -LABEL;
    -fx-font: normal normal 16px 'ink free';
}

/*MENU STYLING*/

.menu-bt{
    -fx-background-color: -DARK-BACKGROUND;
    -fx-background-radius: 0;
}

.menu-bt:hover{
    -fx-background-color: -HOVER;
}

/* /TASKS PAGE */

.label{
    -fx-font: -FONT;
    -fx-text-fill: -LABEL;
}

.bt-day-picker{
    -fx-font: normal bold 1.5em 'Leelawadee UI';
    -fx-text-fill: -LABEL;
    -fx-background-color: transparent;
}

.bt-day-picker:hover{
    -fx-opacity: 0.7;
}

#gridpane-tasks{
    -fx-border-color: -GHOST-WHITE;
    -fx-border-width: 3px;
    -fx-border-radius: 12px;
    -fx-border-style: solid;
}



.search-bar{
    -fx-font: -FONT;
    -fx-text-fill: -LABEL;
    -fx-background-color: -DARK-BACKGROUND;
}

#txtfield-search:hover,
#bt-search:hover{
    -fx-background-color: -HOVER;
}

#txtfield-search{
    -fx-border-width: 3px 0px 3px 3px;
    -fx-border-color: -GHOST-WHITE;
    -fx-border-radius: 12px 0px 0px 12px;
    -fx-border-style: solid;
    -fx-pref-width: 256px;
    -fx-background-radius: 12px 0px 0px 12px;
    -fx-font-size: 1.2em;
    }

#bt-search{
    -fx-border-width: 3px 3px 3px 0px;
    -fx-border-color: -GHOST-WHITE;
    -fx-border-radius: 0px 12px 12px 0px;
    -fx-border-style: solid;
    -fx-pref-width: 52;
    -fx-background-radius: 0px 12px 12px 0px;
}