/* VARIABLES */
*{
    /* COLOR VARIABLES */
    -GLAUCOUS: #6184D8;
    -POWDER-BLUE: #B8DBD9;
    -MIDNIGHT-BLUE: #114B5F;
    -OXFORD-BLUE: #001427;
    -RAISIN-BLACK: #1D1E2C;
    -SMOKY-BLACK: #121113;
    -PURE-WHITE: #FFF;
    -GHOST-WHITE: #F4F4F9;
    -ONYX: #3F3F3F;
    -ENGLISH-VIOLET: #453E51;
    -LIGHT-GRAY: #d3d3d3;
    -LIVER-BROWN: #60463B;
    -PLATINUM: #EAE1DF;
    -ARMY-GREEN: #433E0E;
    -AMBER: #FFBE0B;
    -CHARCOAL: #334E58;
    -SEAGREEN: #0A8754;
    -DARK-RED: #95190C;

    /* highlight colors */
    -ICTERINE: #F0F465;
    -INCHWORM: #B4E33D;
    -PUMPKIN: #FA7921;

    /* SPECIFIC USE*/
    -MENU-BT-COLOR: -ONYX;
    -MENU-BT-FONTCOLOR: -GHOST-WHITE;
    -TASKS-BT-COLOR: -ONYX;
    -TASKS-BT-FONTCOLOR: -GHOST-WHITE;
    -DARK-BACKGROUND: -ONYX;
    -LIGHT-BACKGROUND: -GHOST-WHITE;
    -GREEN-HIGHLIGHT: -INCHWORM;
    -ORANGE-HIGHLIGHT: -PUMPKIN;
}

/* RESPONSIVE TEST(you can use it with classes and ID) */

#responsive-pane {
    -fx-alignment: top_center;
    -fx-background-color: #000;
}

#responsive-pane:extreme-small-device /* < 768px */{
    -fx-pref-width: 90px;
}

#responsive-pane:small-device /* >= 768px */{
    -fx-pref-width: 130px;
}

#responsive-pane:medium-device /* >= 992px */{
    -fx-pref-width: 160px;
}

#responsive-pane:large-device /* > 1200px */{
    -fx-pref-width: 200px;
}

/* UTILITY CLASSES */

.dropshadow {
    -fx-effect: dropshadow(gaussian, #000, 10, 0.1, -5, 5);
}

.dropshadow-right {
    -fx-effect: dropshadow(gaussian, #000, 10, 0.1, 2, -1);
}

.light-img{
    -fx-background-color: -GHOST-WHITE;
}

/* BACKGROUND */
.pane-background {
    -fx-background-color: -LIGHT-BACKGROUND;
}

/* MENU STYLING */

.menu-background {
    -fx-background-color: -MENU-BT-COLOR;
}

#vbox-menu:extreme-small-device,
.bt-menu:extreme-small-device {
    -fx-pref-width: 200px;
    -fx-content-display: graphic-only;
}

#vbox-menu:small-device,
.bt-menu:small-device {
    -fx-pref-width: 256px;
    -fx-content-display: graphic-only;
}

#vbox-menu:medium-device,
.bt-menu:medium-device {
    -fx-pref-width: 300px;
    -fx-content-display: graphic-only;
}

.light-img:medium-device {
    -fx-scale-x: 0.82;
    -fx-scale-Y: 0.82;
}

.light-img:small-device {
    -fx-scale-x: 0.64;
    -fx-scale-Y: 0.64;
}

.bt-menu {
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: -MENU-BT-COLOR;
    -fx-text-fill: -MENU-BT-FONTCOLOR;
    -fx-font: normal lighter 2.2em 'candara';
}

.bt-menu:hover {
    -fx-background-color: -ORANGE-HIGHLIGHT;
}

/* TASKS PANE STYLING */

.tasks-background {
    -fx-background-color: -LIGHT-BACKGROUND;
    -fx-padding: 15 15 15 15;
}

.tasks-hbox {
    -fx-alignment: CENTER;
    -fx-spacing: 0;
    -fx-padding: 30 270 30 270;
}

.tasks-search-bar {
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: -TASKS-BT-COLOR;
    -fx-text-fill: -TASKS-BT-FONTCOLOR;
    -fx-font: normal lighter 1.5em 'candara';
    }

.tasks-search-bar:hover {
    -fx-background-color: -ORANGE-HIGHLIGHT;
}

.tasks-day-bar {
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-text-fill: -TASKS-BT-COLOR;
    -fx-font: normal bolder 1.5em 'candara';
}

.tasks-day-bar:hover {
    -fx-text-fill: -ORANGE-HIGHLIGHT;
}

#bt-arrow-tasks:hover {
    -fx-background-color: -ORANGE-HIGHLIGHT;
    -fx-background-radius: 10px;
}