/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');/*'Fredoka One'*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');/*'Lilita One'*/

/* VARIABLES */

*{
    /* COLOR VARIABLES */
    -GLAUCOUS: #6184D8;
    -POWDER-BLUE: #B8DBD9;
    -MIDNIGHT-BLUE: #114B5F;
    -OXFORD-BLUE: #001427;
    -RAISIN-BLACK: #1D1E2C;
    -RAISIN-BLACK-HOVER: #30324A;
    -SMOKY-BLACK: #121113;
    -PURE-WHITE: #FFF;
    -GHOST-WHITE: #F4F4F9;
    -ONYX: #3F3F3F;
    -ENGLISH-VIOLET: #453E51;
    -LIGHT-GRAY: #d3d3d3;
    -LIVER-BROWN: #60463B;
    -PLATINUM: #EAE1DF;
    -ARMY-GREEN: #433E0E;
    -AMBER: #FFBE0B;
    -CHARCOAL: #334E58;
    -SEAGREEN: #0A8754;
    -DARK-RED: #95190C;

    /* highlight colors */
    -ICTERINE: #F0F465;
    -APPLE-GREEN: #87B319;
    -PUMPKIN: #FA7921;

    /* SPECIFIC USE*/
    -LABEL: -GHOST-WHITE;
    -HOVER: -RAISIN-BLACK-HOVER;
    -DARK-BACKGROUND: -RAISIN-BLACK;
    -LIGHT-BACKGROUND: -GHOST-WHITE;
    -GREEN-HIGHLIGHT: -INCHWORM;
    -ORANGE-HIGHLIGHT: -PUMPKIN;

    /* FONT */
    -DEFAULT-FONT: normal normal 1.0em 'Fredoka One';
}

/* UTILITY CLASSES */

.transparent{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.right-side-separator{
    -fx-border-width: 0px 3px 0px 0px;
    -fx-border-color: -GHOST-WHITE;
    -fx-border-style: solid;
}

.text-area .scroll-pane .content{
    -fx-background-color: -ONYX;
    -fx-background-radius: 7px;
}

/*GENERAL*/

.vbox-background {
    -fx-background-color: -DARK-BACKGROUND;
}

.add_vboxes{
    -fx-background-color: -ONYX;
}

#txtfield-search:hover,
#bt-search:hover{
    -fx-background-color: -HOVER;
}

#txtfield-search{
    -fx-border-width: 3px 0px 3px 3px;
    -fx-border-color: -GHOST-WHITE;
    -fx-border-radius: 12px 0px 0px 12px;
    -fx-border-style: solid;
    -fx-pref-width: 256px;
    -fx-background-radius: 12px 0px 0px 12px;
    -fx-font-size: 1.2em;
    }

#bt-search{
    -fx-border-width: 3px 3px 3px 0px;
    -fx-border-color: -GHOST-WHITE;
    -fx-border-radius: 0px 12px 12px 0px;
    -fx-border-style: solid;
    -fx-pref-width: 52px;
    -fx-background-radius: 0px 12px 12px 0px;
}

.search-bar{
    -fx-font: normal normal 1em 'Fredoka One';
    -fx-text-fill: -LABEL;
    -fx-background-color: -DARK-BACKGROUND;
}

/*MENU STYLING*/

#day-label {
    -fx-text-fill: -LABEL;
    -fx-font: normal normal 3.1em 'Fredoka One';
    -fx-padding: 6px 0px 0px 0px;
}

#day-sublabel-hour, #day-sublabel-date {
    -fx-text-fill: -LABEL;
    -fx-font: normal normal 1.15em 'Fredoka One';
}

#day-sublabel-hour {
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: -GHOST-WHITE;
    -fx-border-style: solid;
    -fx-padding: 0px 0px 6px 0px;
}

.menu-bt{
    -fx-background-color: -DARK-BACKGROUND;
    -fx-background-radius: 0;
}

.menu-bt:hover{
    -fx-background-color: -HOVER;
}

/* /TASKS PAGE */

.label{
    -fx-font: normal normal 1.25em 'Fredoka One';
    -fx-text-fill: -LABEL;
}

.bt-day-picker{
    -fx-font: normal normal 1.75em 'Fredoka One';
    -fx-text-fill: -LABEL;
    -fx-background-color: transparent;
}

.bt-day-picker:hover{
    -fx-opacity: 0.7;
}

#grid-column {
    -fx-font: normal normal 1.6em 'Fredoka One';
}

#vbox-grid-tasks{
    -fx-border-color: -GHOST-WHITE;
    -fx-border-radius: 12px;
    -fx-border-width: 3px;
    -fx-background-radius: 12px;
    -fx-background-color: -GHOST-WHITE;
}

#hbox-grid-tasks{
    -fx-background-color: -RAISIN-BLACK;
    -fx-background-radius: 12px 12px 0px 0px;
}

.bt-filter-and-add{
    -fx-background-color: -DARK-BACKGROUND;
    -fx-border-width: 3px;
    -fx-border-color: -GHOST-WHITE;
    -fx-border-radius: 12px;
    -fx-border-style: solid;
    -fx-pref-width: 144px;
    -fx-background-radius: 12px;
    -fx-font: normal normal 1.2em 'Fredoka One';
    -fx-text-fill: -LABEL;
}

.bt-filter-and-add:hover{
    -fx-background-color: -HOVER;
}

#hbox-filter{
    -fx-background-color: -ONYX;
    -fx-background-radius: 0px 0px 12px 12px;
}

#bt-filter-close{
    -fx-font: normal normal 1.2em 'Fredoka One';
    -fx-text-fill: -LABEL;
}

#bt-filter-close:hover{
    -fx-opacity: 0.75;
}

/* Add Tabs(New Project, Task, Block)*/

#bt_newblock_add,
#bt_newtask_add,
#bt_newproject_add{
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;
    -fx-background-color: -ONYX;
}

#bt_newblock_add:hover,
#bt_newtask_add:hover,
#bt_newproject_add:hover{
    -fx-opacity: 0.75;
}

#newtask-header{
    -fx-font: normal normal 2em 'Fredoka One';
    -fx-text-fill: -LABEL;
}

#txtfield-title-add{
    -fx-font: normal normal 1.25em 'Fredoka One';
    -fx-text-fill: -SMOKY-BLACK;
    -fx-background-color: -GHOST-WHITE;
}
/* background to description text area*/
.text-area .scroll-pane .content{
    -fx-background-color: -GHOST-WHITE;
}

#txtarea-description-add{
    -fx-font: normal normal 1.25em 'Fredoka One';
    -fx-text-fill: -SMOKY-BLACK;
    -fx-highlight-fill: -GHOST-WHITE;
    -fx-highlight-text-fill: -GHOST-WHITE;
}

#txtarea-description-add:hover{
    -fx-opacity: 0.8;
    -fx-effect: none;
}

#comboBox-type-add,
#comboBox-priority-add{
    -fx-background-color: -GHOST-WHITE;
    -fx-font: normal normal 1.25em 'Fredoka One';

    -fx-border-width: 3px;
    -fx-border-color: -GHOST-WHITE;
    -fx-border-style: solid;
    -fx-border-radius: 12px;
}

#datepicker-PStart,
#datepicker-PFinish{
    -fx-background-color: transparent;
    -fx-font: normal normal 1.25em 'Fredoka One';
}

.dropshadow{
    -fx-effect: dropshadow(gaussian, #000, 15, 0.1, 5, 5)
}

#bt-create-add{
    -fx-background-color: -APPLE-GREEN;
    -fx-font: normal normal 1.5em 'Fredoka One';
    -fx-text-fill: -LABEL;
    -fx-border-width: 3px;
    -fx-border-color: -GHOST-WHITE;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
    -fx-background-radius: 6px;
}

#bt-create-add:hover,
#txtfield-title-add:hover{
    -fx-opacity: 0.8;
    -fx-effect: none;
}

#datepicker-PStart:hover,
#datepicker-PFinish:hover,
#comboBox-type-add:hover,
#comboBox-priority-add:hover{
    -fx-blend-mode: difference;
}

/*TASK BLOCK*/

.task-block-label {
    -fx-font: normal normal 1.25em 'Fredoka One';
    -fx-text-fill: -LABEL;
    -fx-background-color: transparent;
}

#task-block{
    -fx-background-color: -POWDER-BLUE;
}


#bt-complete-task {
    -fx-background-color: transparent;
}

#bt-complete-task:hover {
    -fx-background-radius: 0;
    -fx-background-color: -SEAGREEN;
}

#bt-addsubtask-task {
    -fx-background-color: transparent;
}

#bt-addsubtask-task:hover{
    -fx-background-radius: 0;
    -fx-background-color: -PUMPKIN;
}

#bt-edit-task {
    -fx-background-color: transparent;
}

#bt-edit-task:hover {
    -fx-background-color: -AMBER;
    -fx-background-radius: 0;
}

#bt-remove-task {
    -fx-background-color: transparent;
}

#bt-remove-task:hover{
    -fx-background-color: -DARK-RED;
    -fx-background-radius: 0;
}

#bt-expand-task {
    -fx-background-color: transparent;
}

#bt-expand-task:hover {
    -fx-background-color: -ONYX;
    -fx-background-radius: 0;
}

#scroll-pane-tasks{
    -fx-background-color: transparent;
}

/*Personalized alert message*/

#alert-vbox{
    -fx-background-color: -DARK-BACKGROUND;
    -fx-background-radius: 12px;
    -fx-border-color: -GHOST-WHITE;
    -fx-border-radius: 12px;
    -fx-border-width: 3px;
}

#alert-button {
    -fx-font: normal normal 1.25em 'Fredoka One';
    -fx-text-fill: -LABEL;
    -fx-background-color: -SEAGREEN;
    -fx-background-radius: 12px;
    -fx-border-color: -GHOST-WHITE;
    -fx-border-radius: 12px;
    -fx-border-width: 3px;
}

#alert-button:hover {
    -fx-background-color: -ICTERINE;
}

#alert-label{
    -fx-font: normal normal 1.5em 'Fredoka One';
    -fx-text-fill: -DARK-RED;
}

